* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ede6ff;
}

.container{
    width: 540px;
    height: 800px;
    background-color: white;

}
.todo{
    height: 300px;
    flex-direction: column;
    background-image: url(./undraw_Exams_re_4ios.png);
    background-position: right;
    background-size: cover;
    border: none;
    border-radius: 50px;

}
.input-group i{
    color:#6C63FF

}